<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adivina el Animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ngInit="start()">

  <div class="btn-center">
    <button (click)="start()" id="play" *ngIf="!clue3">Reproducir</button>
    <button (click)="askClue1()" *ngIf="!clue3">Mostrar pista</button>
  </div>
  
  <div *ngIf="clue1 && !clue3" class="ion-padding">
    <p>{{ animalPhrase }}</p>

    <button (click)="askClue2()">Mostrar pista</button>
    <div *ngIf="clue2">
      <div id="img-content">
        <img src="{{ animalImg }}" alt="{{ amimalAlt }}">
      </div>

      <button (click)="askClue3()">Mostrar el animal</button>
    </div>
  </div>

  <form *ngIf="!clue3" class="ion-padding">
    <ion-item>
      <ion-label>
        Nombre del Animal
        <ion-input [formControl]="nombre" pattern="[a-zA-Z | *]" [(ngModel)]="animal"></ion-input>
      </ion-label>
      <ion-label color="danger" *ngIf="(nombre.errors?.required && (nombre.touched || nombre.dirty) && !clue3)">*El campo es obligarotio</ion-label>
      <ion-label color="danger" *ngIf="nombre.errors?.minlength && (nombre.touched || nombre.dirty)">*El campo debe tener al menos 4 caracteres</ion-label>
    </ion-item>

    <div class="btn-center">
      <ion-button type="submit" (click)="answer()">Respuesta</ion-button>
      <ion-button type="reset" color="danger">Borrar</ion-button>
    </div>
  </form>

  <ion-card *ngIf="!clue3 && tries">
    <p>{{ msg }}</p>
    <p>Número de intentos: {{ counter }}</p>
  </ion-card>

  <ion-card *ngIf="clue3">
    <h2>Solución</h2>
    <p>Tu puntuación ha sido: {{score }}</p>
    <p>{{ msg }}: <b>{{ animalAlt }}</b></p>
    <img id="imgSol" src="{{ animalImg }}" alt="{{ animalAlt }}">

    <div class="btn-center">
      <ion-button (click)="restart()">Volver a jugar</ion-button>
    </div>
  </ion-card>

</ion-content>
