img{
    position: relative;
    top: -12vh;
    z-index: -999;
}

#img-content{
    height: 5vh;
    overflow: hidden;
    margin: 2vh 1vw;
}

#imgSol{
    position: static;
}

h2{
    font-weight: bolder;
    text-decoration: underline;
}

.btn-center{
    text-align: center;
    margin: 2vh 0;
}

button{
    padding: 1.5vh 2vw;
    margin: 0 2vw;
    background-color: gainsboro;
    border: black solid 0.5px;
    border-radius: 1em;
}

ion-card{
    padding: 0 5vw;
}