<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="'/home'">
              <img src="../assets/img/sonido.png" alt="" class="icona">
              <ion-label>
                Sonidos de Animales
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="'/adivina-sonido'">
              <img src="../assets/img/lobo.png" alt="" class="icona">
              <item-label>
                Adivina el Animal
              </item-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>